{% extends 'base.html' %}
{% block content %}
  <div class="card shadow-sm p-4">
    <h2>Acerca de mí</h2>
    <p>Soy <strong>Manuel Vera Carrillo</strong>, Ingeniero en Petróleo con más de 5 años de experiencia en sistemas de extracción, producción y optimización en campos convencionales y no convencionales.</p>
    <p>Este blog nace como una herramienta para compartir documentos, publicaciones técnicas y reflexiones sobre el presente y futuro de nuestra industria. ¡Gracias por visitar!</p>

    <hr>

    <h5>Contacto profesional</h5>
    <p>
      <i class="bi bi-linkedin" style="color:#0a66c2;"></i>
      <a href="https://www.linkedin.com/in/manuel-vera-carrillo-6698b414b/" target="_blank">
        Mi perfil de LinkedIn
      </a>
    </p>
  </div>
{% endblock %}
