<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Entrega Final - Vera Carrillo</title>
</head>
<body>
  <nav>
    <a href="/">Inicio</a> |
    <a href="/pages/">Blogs</a> |
    <a href="/about/">Acerca de mí</a> |
    {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
  {% csrf_token %}
  <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">
    Cerrar sesión
  </button>
</form>
    {% else %}
      <a href="{% url 'login' %}">Iniciar sesión</a> |
      <a href="{% url 'register' %}">Registrarse</a>
    {% endif %}
  </nav>
  <hr>

  {% block content %}
  {% endblock %}

  <hr>
  <footer>
    <p>© 2025 - Manuel Vera Carrillo</p>
  </footer>
</body>
</html>
